body{
    background-color:white;
}

.articleBody{
    background-color: white;
    height: 60vh;
    overflow: auto scroll; 
    margin: 10px;
}

.partsPoolright{
    background-color: white;
    height: 60vh;
    margin: 10px;
    overflow: auto scroll; 
    max-height: 60vh;
}


.dataPoolTop{
    background-color: white;
    height: 150px;
    margin: 10px;
}

.redactorRow{
    border-bottom-color: black;
    border-bottom-width: 2px;
    background-color: green;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.redactorRow:hover{
    border-style: solid;
}

.redactorCell{
    width:100%;
    min-height: 25px;
    height: 100%;
    background-color: white;
    border-style: none;
}

.redactorCell:hover{
    background-color:  rgb(172, 172, 172);
}


.contentStyle{
    height: 160px;
    color: #fff;
    line-height: 160px;
    text-align: center;
    background-color: #364d79;
}


.buttonStyle{
    width:30px;
    height:30px;
    position:absolute;
    z-index: 10;
}



.deleteButton{

  
    bottom: -35px;
    left: -40px;
}
.editButton{


    bottom: -35px;
    right: -40px;
}
.moveRightButton{


    top: -35px;
    right: -40px;
}
.moveTopButton{


    top: -35px;
    left: calc(50% - 15px);
}
.moveLeftButton{


    top: -35px;
    left: -40px;
}
.moveBottomButton{
 
    bottom: -40px;
    left: calc(50% - 15px);
}
.addRightButton{

    top: calc(50% - 20px);
    right: -40px;
}
.reduceRightButton{

    top: calc(50% + 20px);
    right: -40px;
}
.addLeftButton{

    top:calc(50% - 20px);
    left: -40px;
}

.reduceLeftButton{

    top: calc(50% + 20px);
    left: -40px;
}

.delRowButton{
    width:20px;
    height:20px;
    position:absolute;
    z-index: 10;
    right: -10px;
}

