body{
    background-color:white;
}

.articleBody{
    background-color: white;
    height: 60vh;
    overflow: auto scroll; 
    margin: 10px;
}

.partsPoolright{
    background-color: white;
    height: 60vh;
    margin: 10px;
    overflow-y: auto scroll;
    max-height: 60vh;
}


.dataPoolTop{
    background-color: white;
    height: 150px;
    margin: 10px;
}

.redactorRow{
    border-bottom-color: black;
    border-bottom-width: 2px;
    background-color: green;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.redactorRow:hover{
    border-style: solid;
}

.redactorCell{
    width:100%;
    min-height: 25px;
    height: 100%;
    background-color: white;
    border-style: none;
}

.redactorCell:hover{
    background-color:  rgb(172, 172, 172);
}


.contentStyle{
    height: 160px;
    color: #fff;
    line-height: 160px;
    text-align: center;
    background-color: #364d79;
}


.buttonStyle{
    width:30px;
    height:30px;
    position:absolute;
    z-index: 10;
    
}



.deleteButton{

  
    top: calc(50% + 30px);
    left: -27px;
}
.editButton{

    top: calc(50% + 30px);
    right: -35px;
}
.moveRightButton{

    top: calc(50% - 30px);
    right: -25px;
}

.moveLeftButton{

    top: calc(50% - 30px);
    left: -25px;
}

.addRightButton{

    top: calc(50% - 10px);
    right: -45px;
}
.reduceRightButton{

    top: calc(50% - 10px);
    right: -25px;
}
.addLeftButton{

    top:calc(50% - 10px);
    left: -45px;
}

.reduceLeftButton{

    top: calc(50% - 10px);
    left: -25px;
}

.delRowButton{
    width:20px;
    height:20px;
    position:absolute;
    z-index: 10;
    right: -10px;
}


.settingsForm
{
    top: calc(50% + 50px);
    right: -340px;
    background-color: white;
    width: 300px;
    height: 300px;
    z-index: 50;
    position:absolute;
}
