body{
    background-color:white;
}

.articleBody{
    background-color: white;
    height: 60vh;
    overflow: auto scroll; 
    margin: 10px;
}

.partsPoolright{
    background-color: white;
    height: 60vh;
    margin: 10px;
    overflow: auto scroll; 
    max-height: 60vh;
}

.partsPoolBottom{
    background-color: white;
    height: 150px;
    margin: 10px;
}

.dataPoolTop{
    background-color: white;
    height: 150px;
    margin: 10px;
}

.grey{
    width:100%;
    min-height: 25px;
    background-color: rgb(209, 209, 209);
}

.test{
    width:100%;
    height: 100px;
    background-color: green;
    margin: 10px;
}

.white{
    width:100%;
    min-height: 25px;
    height: 100%;
    background-color: white;
    border-style: none;
}

.black{
    width:100%;
    height: 25px;
    background-color: black;
}

.redactorRow{
    border-bottom-color: black;
    border-bottom-width: 2px;
    background-color: green;
}

.redactorCell{
    width:100%;
    min-height: 25px;
    height: 100%;
    background-color: white;
    border-style: solid;
}

.redactorRow:hover{
    border-style: solid;
}

.contentStyle{
    height: 160px;
    color: #fff;
    line-height: 160px;
    text-align: center;
    background-color: #364d79;
}

.testt{
    background-color: blue;
}

.buttonOption{
    width:100%
}


